// GERAL
body {
  background: $bege-claro;
  border: 10px solid $bege-medio;
  color: $cinza;
  @include d(s) {
    border: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

p {
  @include tipo-1(18);
}

.titulo {
  @include tipo-1(18);
  text-transform: uppercase;
  @include d(s) {
    margin-bottom: 40px;
  }
  &::after {
    content: '';
    display: block;
    width: 75%;
    float: right;
    height: 2px;
    background: $cinza;
    margin-top: 13px;
    @include d(m) {
      width: 60%;
    }
  }
}

// FUNCIONAMENTO
[data-semana]::after {
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  background: #E54;
  border-radius: 50%;
  margin-left: 15px;
  border: 2px solid #000;
}

[data-semana].aberto::after {
  background: #3F4;
}